<mat-toolbar color="primary">
  <span><img src="/assets/logo.png" height=30 width=41></span>
  <a mat-button routerLink = "home"><span class="far fa-play-circle"></span> Inicio</a>
  <a mat-button routerLink = "categories"><span class="fa fa-list-alt fa-lg"></span> Categorias</a>
  <a mat-button><span class="fas fa-user-circle"></span>Perfil</a>
  <app-search></app-search>
</mat-toolbar>




<!--
<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">
</div>

-->