<div class="container-fluid h-90" id="sign-up">
    <div class="row h-100 justify-content-right align-items-center mx-5 text-center">      
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="ml-auto p-5 mr-5 w-30 h-70 text-center my-auto">
            <div clas="h-50 my-5">
                <h2 class="text-white mt-5">Registrate aquí</h2>
                <hr class="text-white">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="name" class="sr-only">Nombre Completo</label>
                    <input readonly onfocus="this.removeAttribute('readonly');" type="text" class="form-control" id="name" placeholder="Nombre completo" formControlName="name" required >
                    <div *ngIf="signUpForm.controls['name'].invalid && (signUpForm.controls['name'].dirty || signUpForm.controls['name'].touched)"  class="alert alert-danger" role="alert">
                        <div *ngIf="signUpForm.controls['name'].errors.required">
                            <small>El campo Nombre es obligatorio</small>
                        </div>
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="username" class="sr-only">Nombre de usuario</label>
                    <input readonly onfocus="this.removeAttribute('readonly');" type="text" class="form-control" id="username" placeholder="Nombre de usuario" formControlName="username">
                    <div *ngIf="signUpForm.controls['username'].invalid && (signUpForm.controls['username'].dirty || signUpForm.controls['username'].touched)" class="alert alert-danger" role="alert">
                        <div *ngIf="signUpForm.controls['username'].errors.required">
                            <small >El campo Nombre de usuario es obligatorio</small>
                        </div>
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="email" class="sr-only">Correo Electrónico</label>
                    <input readonly onfocus="this.removeAttribute('readonly');" type="email" class="form-control" id="email" placeholder="Correo electrónico" formControlName="email">
                    <div *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)" class="alert alert-danger" role="alert">
                        <div *ngIf="signUpForm.controls['email'].errors.required">
                            <small >El campo Correo electrónico es obligatorio</small>
                        </div>
                        <div *ngIf="signUpForm.controls['email'].errors.email">
                            <small >El campo Correo electrónico debe corresponder a un correo electrónico</small>
                        </div>
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="password" class="sr-only">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña" formControlName="password" pattern="^(?=(?:.*\d){1})(?=(?:.*[A-Z]){1})(?=(?:.*[a-z]){1})\S{8,}$">
                    <div *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)" class="alert alert-danger" role="alert">
                        <div *ngIf="signUpForm.controls['password'].errors.required">
                            <small >El campo contraseña es obligatorio</small>
                        </div>
                        <div *ngIf="signUpForm.controls['password'].errors.pattern">
                                <small >El campo contraseña debe tener al menos 8 caracteres, 1 mayuscula, 1 minuscula y 1 digito</small>
                            </div>
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="password-confirmation" class="sr-only">Confirmación de Contraseña</label>
                    <input type="password" class="form-control" id="password-confirmation" placeholder="Confirmación de contraseña" formControlName="password_confirmation" pattern="^(?=(?:.*\d){1})(?=(?:.*[A-Z]){1})(?=(?:.*[a-z]){1})\S{8,}$">
                    <div *ngIf="signUpForm.controls['password_confirmation'].invalid && (signUpForm.controls['password_confirmation'].dirty || signUpForm.controls['password_confirmation'].touched)" class="alert alert-danger" role="alert">
                        <div *ngIf="signUpForm.controls['password_confirmation'].errors.required">
                            <small >Debes confirmar la contraseña</small>
                        </div>
                        <div *ngIf="signUpForm.controls['password_confirmation'].errors.pattern">
                            <small >El campo contraseña debe tener al menos 8 caracteres, 1 mayuscula, 1 minuscula y 1 digito</small>
                        </div>
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="categories" class="sr-only">Categoría</label>
                    <select class="form-control" id="categories" formControlName="category">
                        <option hidden [ngValue]="null"  selected>Seleccione una categoria </option>
                        <option *ngFor="let category of categories" [ngValue]="category" formControlName="name">{{category.desc}}</option>
                    </select>
                </div>
                <hr>
                <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{false}" id="check-conditions" formControlName="check_conditions" required>
                        <label class="form-check-label text-muted" for="check-conditions" >
                          Acepto los <a href="#">terminos y condiciones</a>
                        </label>
                        <div *ngIf="signUpForm.controls['check_conditions'].invalid && (signUpForm.controls['check_conditions'].dirty || signUpForm.controls['check_conditions'].touched)" class="alert alert-danger" role="alert">
                            <div *ngIf="signUpForm.controls['check_conditions'].errors.required">
                                <small >Debes aceptar los terminos y condiciones para continuar</small>
                            </div>
                        </div>
                      </div>
                <hr>
                <button type="submit" class="btn btn-primary mb-3" [disabled]="!signUpForm.valid">Completar registro</button>
                <div class="container-fluid">
                    <a class="text-muted" href="#">¿Ya estás registrado?</a>
                </div>
            </div>
        </form>
    </div>
</div>