#sign-up {
    background: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.322)), url("/assets/registry-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#sign-up > div > form {
    background-color: rgba(0, 0, 0, 0.5);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}


