/* --- General Pen Styles --- */
body{
	font-family: Georgia, serif;
	color: #333;
	font-size: 18px;
	line-height: 24px;
}
h3{
	font-size: 35px;
	line-height: 1.125;
}
.contained{
	margin: 0 auto;
	width: 90%;
	@media (min-width: 500px){
		width: 80%;
	}
	@media (min-width: 600px){
		width: 60%;
	}
}
main{
	padding: 1em 0;
	position: relative;
	background: #f5f5f5;
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
}

/* --- Important Pen Styles --- */

header{
	overflow: hidden;
	//padding-bottom determines the height of the header
	padding-bottom: 55%;
	@media (min-width: 600px){
		padding-bottom: 50%;
	}
	@media (min-width: 700px){
		padding-bottom: 45%;
	}
}
header img{
	width: 100%;
	max-width: none;
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
}