@font-face {
	font-family: Moderne Sans;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
  }

  .tile-image {
    width:95%;
    height: auto;
  }

  .text-inside-grid {
    position: absolute;
    text-align: center;
    color: #fff;
    opacity:0.60;
    font-size: 35px;
    font-family: Moderne Sans, sans-serif;
    letter-spacing: .5rem;

  }

  .text-inside-grid:hover {
    opacity: 1;
  }

h3 {
	font-family: Moderne Sans, sans-serif;
	text-align: center;
	font-size: 3.0rem;
	width: 100%;
	letter-spacing: .5rem;
  }

  header{
    padding-bottom: 2.5%;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.322)), url("/assets/category-cover.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 75px;
    margin: 15px;

  }