<div id = "category" class="container-fluid h-90">
  <div class="container" fxLayout="column" fxLayoutGap="10px">
        
  <header>
      <h3>CATEGORIAS</h3>
  </header>

    <div fxFlex class = "grid-categories">
      <mat-grid-list cols="2" rowHeight="300px" [gutterSize]="'15px'">
        <mat-grid-tile *ngFor="let category of categories$ | async" (click) = "onSelect (category)">
          <img class = "tile-image"  src= "../assets/{{category.category}}.jpg" alt= {{category.category}}>
          <!--<mat-grid-tile-footer>
            <h1>{{category.category | uppercase}}</h1>
          </mat-grid-tile-footer>-->
          <div class="text-inside-grid">{{ category.category }}</div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>


