@font-face {
	font-family: Moderne Sans;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
  }



h3 {
	font-family: Moderne Sans, sans-serif;
	text-align: center;
	font-size: 2.5rem;
	width: 100%;
	letter-spacing: .5rem;
  }

  header{
    padding-bottom: 2.5%;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.322)), url("/assets/category-cover.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 125px;
    padding-top: 2.5%;
    margin: 15px;

  }