
<div class="container" fxLayout="column" fxLayoutGap="5px"  width =  "25%">

<div fxFlex>
  <div>
    <h3> Nuevo Video</h3>
    <hr>
  </div>
</div>

<div class = "tp-container">
  <mat-card>

      
<form [formGroup] = "service.form" class ="normal-form"  (submit) = "onSubmit()">
      <div class = "controles-container">
        <mat-form-field>
          <input matInput formControlName = "title" placeholder="Titulo*"> 
          <mat-error>Este Campo es Obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea formControlName = "description" matInput placeholder="Descripción*"></textarea>
            <mat-error *ngIf= "service.form.controls['description'].errors?.required">Campo Obligatorio</mat-error>
            <mat-error *ngIf= "service.form.controls['description'].errors?.minlenght">Minimo 10 caracteres</mat-error>                
        </mat-form-field>
        <mat-form-field>
          <mat-select formControl = "category" placholder = "Categoria*" [disabled] = "service.form.invalid">
            <mat-option>Ninguno</mat-option> 
            <ng-container *ngFor = "let category of categories$ | async">
              <mat-option value = "{{category.id}}"  (click) = "onSelect(category)">{{category.category}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Elegir Categoria</mat-error>        
        </mat-form-field>

        <div class = "controles-container">
          <div class = "button-row">
            <input type = "file" accept = ".mp4"  hidden = "hidden" (click) = "onFileSelected($event)" placeholder="Seleccionar Archivo" #fileInput>
            <button mat-raised-button color = "primary" (click) = "fileInput.click()"  attachment>
                <mat-icon>attachment</mat-icon>
                Elegir Archivo</button>
            <span id = "custom-text">No se ha seleccionado ningun archivo</span>
          </div> 
          <div>
              <mat-progress-bar [mode]="determinate" [value]="uploadValue"></mat-progress-bar>
          </div>
      </div>

        <div class = "button-row">
          <button mat-raised-button color = "primary" type = "submit" [disabled] = "service.form.invalid" (click) = "onUpload()" >Guardar</button>
          <button mat-raised-button class = "mat-custom-warn" (click) = "onClear()">Cancelar</button>
        </div>
      </div>      
    </form>
  </mat-card>
</div>

