
<!--
<div class="content video">
  <mat-video title="{{ (video$ | async)?.title }}" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin" poster="image.jpg" class = "video"  >
    <source matVideoSource type="video/mp4" src= "http://35.196.3.185:3002/watch/{{ (video$ | async)?.id }}">
  </mat-video>    
</div>
-->
<div class = "video-container">
  <h3>{{ (video$ | async)?.title }}</h3>
      <video preload="auto" controls autoplay>
          <source src = "http://35.196.3.185:3002/watch/{{ (video$ | async)?.id }}" type="video/mp4">
      </video>
</div>

