
<hr>

<div>
<div class = "video-container">
<vg-player>
  <vg-controls vgProperty="current" vgFormat="mm:ss" vgAutohide = "true" vgAutohideTime="1.5">
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display></vg-time-display>

      <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video [vgMedia]="media" #media  preload="true" autoplay = "true" >
      <source src= "http://35.196.3.185:3002/watch/{{videoId}}" type="video/mp4">
  </video>
  </vg-player>
    <h3> {{ (video$ | async)?.title }} </h3>
      <p>
          <ng-container>
              {{(video$| async).views + ' Vistas' }}
          </ng-container>
      </p>
</div>
</div>

<app-commentaries></app-commentaries>






