/* You can add global styles to this file, and also import other style files */



body {
  margin: 0;
}


select:invalid { 
    color: gray; 

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

input.ng-invalid  {
  border-left: 5px solid #a94442; /* red */
}

textarea.ng-invalid  {
  border-left: 5px solid #a94442; /* red */
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;

  }
  

  div.container{
    margin: 0px, 40px;
  }

  .fill-remaining-space{
    flex: 1 1 auto
  }

  form.normal-form{

    margin: 5px;

  }

  .controles-container{
    width: 100%;
    padding: 5%;
  }

  .controles-container > *{
    width: 100%;
  }

  .add-bottom-padding {
    padding-bottom: 10px;
  }

  .button-row button{
    margin: 5px;
  }

  snack-bar-container.succes{
    background-color: #5cb65c;
    color: #fff;
  }

  snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;
  }

