header {
    text-align: center;
}

.header h1 {
    font-family: serif;
    font-size: 38px;
    font-family: 'Times New Roman';
}

.content {
    margin: 100px;
}

.margin25 {
    margin: 25px;
}

.upload {
    cursor: pointer;
    margin-top: 25px;
    margin-left: 25px;
}


.card {
    min-width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  a {
    cursor: pointer;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }


.mat-raised-button {
  background: #3860d8;
  color: #fff;
}

.block{
  align-content: center
}